@import url("common.css");
@import url("side_menu.css");

.image-container {
  background-size: 100% 900px;
  background-image: url("https://nurseryschool.wustl.edu/files/2017/09/170914_jjn_nursery_school_008.jpg");
}
.bullet p {
  font-size: 17px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

.p-and-p h2 {
  color: #a51417;
}

h2 {
  color: #a51417 !important;
}
